<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="MiConexion"  connectionString="SERVER=.\sqlserver_r14;Database=Agenda;INTEGRATED SECURITY=true"  />
    <add name="ConexionPolachekPC" connectionString="Data Source=POLACHEK;Initial Catalog=ObligatorioP3;Integrated Security=True" />
    <add name="ConexionPolachekNoteb" connectionString="Data Source=CREPE10;Initial Catalog=ObligatorioP3;Integrated Security=true"/>
    <add name="ConexionSeba"  connectionString="SERVER=.\SQLEXPRESS;Database=ObligatorioP3;INTEGRATED SECURITY=true"  />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAgregarProv" />
        <binding name="BasicHttpBinding_ICatalogoServicios" />
        <binding name="BasicHttpBinding_IServicioListaProv" />
        <binding name="BasicHttpBinding_IGuardarCatalogoTxt" />
        <binding name="BasicHttpBinding_IGuardarProvTxt" />
        <binding name="BasicHttpBinding_IServicioModificarParametros" />
        <binding name="BasicHttpBinding_IDesactivarProv" />
        <binding name="BasicHttpBinding_IProveedorDadoRUT" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51387/ServicioAgregarProv.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgregarProv"
        contract="ServiceReference2.IAgregarProv" name="BasicHttpBinding_IAgregarProv" />
      <endpoint address="http://localhost:53817/CatalogoServicios.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogoServicios"
        contract="ServiceReference3.ICatalogoServicios" name="BasicHttpBinding_ICatalogoServicios" />
      <endpoint address="http://localhost:51568/ServicioListaProv.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioListaProv"
        contract="ServiceReference4.IServicioListaProv" name="BasicHttpBinding_IServicioListaProv" />
      <endpoint address="http://localhost:50812/GuardarCatalogoTxt.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGuardarCatalogoTxt"
        contract="ServiceReference5.IGuardarCatalogoTxt" name="BasicHttpBinding_IGuardarCatalogoTxt" />
      <endpoint address="http://localhost:60254/GuardarProvTxt.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGuardarProvTxt"
        contract="ServiceReference6.IGuardarProvTxt" name="BasicHttpBinding_IGuardarProvTxt" />
      <endpoint address="http://localhost:50271/ServicioModificarParametros.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioModificarParametros"
        contract="ServiceReference7.IServicioModificarParametros" name="BasicHttpBinding_IServicioModificarParametros" />
      <endpoint address="http://localhost:50125/DesactivarProv.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDesactivarProv"
        contract="ServiceReference8.IDesactivarProv" name="BasicHttpBinding_IDesactivarProv" />
      <endpoint address="http://localhost:54486/ProveedorDadoRUT.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProveedorDadoRUT"
        contract="ServiceReference1.IProveedorDadoRUT" name="BasicHttpBinding_IProveedorDadoRUT" />
    </client>
  </system.serviceModel>
</configuration>