
.vs/config/applicationhost.config
AppWeb/bin/AppWeb.dll
AppWeb/bin/AppWeb.dll.config
AppWeb/bin/AppWeb.pdb
AppWeb/bin/Dominio.dll
AppWeb/bin/Dominio.pdb
AppWeb/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
AppWeb/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
AppWeb/bin/roslyn/csc.exe
AppWeb/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
AppWeb/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
AppWeb/bin/roslyn/Microsoft.CodeAnalysis.dll
AppWeb/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
AppWeb/bin/roslyn/Microsoft.CSharp.Core.targets
AppWeb/bin/roslyn/Microsoft.VisualBasic.Core.targets
AppWeb/bin/roslyn/System.Collections.Immutable.dll
AppWeb/bin/roslyn/System.Reflection.Metadata.dll
AppWeb/bin/roslyn/vbc.exe
AppWeb/bin/roslyn/VBCSCompiler.exe
AppWeb/bin/roslyn/VBCSCompiler.exe.config
AppWeb/obj/Debug/AppWeb.csproj.FileListAbsolute.txt
AppWeb/obj/Debug/AppWeb.csprojResolveAssemblyReference.cache
AppWeb/obj/Debug/AppWeb.dll
AppWeb/obj/Debug/AppWeb.pdb
AppWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AppWeb/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AppWeb/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AppWeb/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Dominio/bin/Debug/Dominio.dll
Dominio/bin/Debug/Dominio.pdb
Dominio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Dominio/obj/Debug/Dominio.csproj.FileListAbsolute.txt
Dominio/obj/Debug/Dominio.csprojResolveAssemblyReference.cache
Dominio/obj/Debug/Dominio.dll
Dominio/obj/Debug/Dominio.pdb
Dominio/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Dominio/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Dominio/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/init.ps1
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/uninstall.ps1
packages/Microsoft.Net.Compilers.1.0.0/build/Microsoft.Net.Compilers.props
packages/Microsoft.Net.Compilers.1.0.0/Microsoft.Net.Compilers.1.0.0.nupkg
packages/Microsoft.Net.Compilers.1.0.0/ThirdPartyNotices.rtf
packages/Microsoft.Net.Compilers.1.0.0/tools/csc.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.CSharp.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CSharp.Core.targets
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.VisualBasic.Core.targets
packages/Microsoft.Net.Compilers.1.0.0/tools/System.Collections.Immutable.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/System.Reflection.Metadata.dll
packages/Microsoft.Net.Compilers.1.0.0/tools/vbc.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe
packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe.config
packages/*
.vs/config/applicationhost.config
.vs/
AppWeb/obj/Debug/build.force
WcfAgregarProv/bin/Dominio.dll
WcfAgregarProv/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WcfListaProv/bin/Dominio.dll
WcfListaProv/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WcfServicioExponerCatalogo/bin/Dominio.dll
WcfServicioExponerCatalogo/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WcfAgregarProv/bin/ApplicationInsights.config
WcfAgregarProv/bin/Dominio.dll
WcfAgregarProv/bin/
WcfAgregarProv/obj/
WcfListaProv/bin/
WcfListaProv/obj/
WcfAgregarProv/bin/Dominio.pdb
WcfAgregarProv/bin/Microsoft.AI.Agent.Intercept.dll
WcfAgregarProv/bin/Microsoft.AI.DependencyCollector.dll
WcfAgregarProv/bin/Microsoft.AI.DependencyCollector.xml
WcfAgregarProv/bin/Microsoft.AI.PerfCounterCollector.dll
WcfAgregarProv/bin/Microsoft.AI.ServerTelemetryChannel.dll
WcfAgregarProv/bin/Microsoft.AI.ServerTelemetryChannel.xml
WcfAgregarProv/bin/Microsoft.AI.Web.dll
WcfAgregarProv/bin/Microsoft.AI.Web.xml
WcfAgregarProv/bin/Microsoft.AI.WindowsServer.dll
WcfAgregarProv/bin/Dominio.dll
WcfAgregarProv/bin/Microsoft.AI.WindowsServer.xml
WcfAgregarProv/bin/Microsoft.ApplicationInsights.dll
WcfAgregarProv/bin/Microsoft.ApplicationInsights.xml
WcfAgregarProv/bin/WcfAgregarProv.dll
WcfAgregarProv/bin/WcfAgregarProv.dll.config
WcfAgregarProv/bin/WcfAgregarProv.pdb
WcfAgregarProv/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WcfAgregarProv/obj/Debug/WcfAgregarProv.csproj.FileListAbsolute.txt
WcfAgregarProv/obj/Debug/WcfAgregarProv.pdb
WcfListaProv/bin/ApplicationInsights.config
WcfListaProv/bin/Dominio.dll
WcfListaProv/bin/Dominio.pdb
WcfListaProv/bin/Microsoft.AI.Agent.Intercept.dll
WcfListaProv/bin/Microsoft.AI.DependencyCollector.dll
WcfListaProv/bin/Microsoft.AI.DependencyCollector.xml
WcfAgregarProv/bin/Dominio.dll
WcfAgregarProv/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WcfAgregarProv/obj/Debug/WcfAgregarProv.dll
WcfListaProv/bin/Microsoft.AI.PerfCounterCollector.dll
WcfServicioExponerCatalogo/bin/WcfServicioExponerCatalogo.dll.config
WcfServicioExponerCatalogo/bin/
WcfServicioExponerCatalogo/obj/
WcfServicioCatalogoServicios/bin/WcfServicioCatalogoServicios.dll
WcfServicioCatalogoServicios/bin/WcfServicioCatalogoServicios.pdb
WcfServicioCatalogoServicios/obj/Debug/WcfServicioCatalogoServicios.dll
WcfServicioCatalogoServicios/bin/
WcfServicioCatalogoServicios/obj/
WcfServicioCatalogoServicios/bin/*
WcfServicioCatalogoServicios/obj/*
WcfServicioExponerCatalogo/bin/*
WcfServicioExponerCatalogo/obj/*
WcfAgregarProv/bin/*
WcfAgregarProv/obj/*
WcfListaProv/bin/*
WcfListaProv/obj/*
WcfServicioCatalogoServicios/bin/WcfServicioCatalogoServicios.pdb
Dominio/Conexion.cs
WCFCatalogoServicios/bin/Dominio.dll
WCFCatalogoServicios/bin/Dominio.dll
WCFCatalogoServicios/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WCFCatalogoServicios/bin/Dominio.dll
packages/
packages/*
WCFProveedorDadoRUT/bin/
WCFProveedorDadoRUT/bin/*
WCFProveedorDadoRUT/obj/
WCFProveedorDadoRUT/obj/*
AppWeb/images/servicios-proveedor/*
WCFCatalogoServicios/bin/Dominio.dll
WCFCatalogoServicios/bin/*
AppWeb/AppWeb.csproj.user
WCFDesactivarProv/bin/*
WCFCatalogoServicios/obj/*
Dominio/Conexion.cs
!AppWeb/images/servicios-proveedor/Rut_999999999991__ServicioID_1.jpg
!AppWeb/images/servicios-proveedor/Rut_999999999992__ServicioID_2.jpg
!AppWeb/images/servicios-proveedor/Rut_999999999992__ServicioID_3.jpg
WCFGuardarProvTxt/obj/
WCFGuardarProvTxt/obj/*
WCFGuardarProvTxt/bin/
WCFGuardarProvTxt/bin/*
WcfServiceModificarParametros/obj/
WcfServiceModificarParametros/obj/*
WcfServiceModificarParametros/bin/
WcfServiceModificarParametros/bin/*

