@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

body{
    margin: 0px;
}

/* Global */
.clear-both{
	clear: both;
}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
	cursor: pointer;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

/* Header */
#header{
	background: linear-gradient(0deg, #fff, #860dfe) no-repeat;
}

#header h1{
	display: inline-block;
	margin-bottom: 2px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #FFF;
	padding-left: 15px;
	text-shadow: 1px 1px #000;
}

#header p{
	font-family: 'Source Sans Pro', sans-serif;
	color: #FFF;
	margin: 0px;
	padding-left: 15px;
	text-shadow: 1px 1px #BF00FF;
}

#header .header-left{
	float: left;
	width: 25%;
}

#header .header-mid{
	float: left;
	width: 40%;
}

#header .header-right{
	float: left;
	width: 35%;
}

#header .image-header{
	display: block;
    height: 7em;
	margin: 0 auto;
}

/** Pagina Formulario Web Registro Proveedores **/
.page-regprov{

}

.page-regprov #WpAltaProveedor{
	width: 30%;
    padding: 1%;
	display: inline-block;
}

.page-regprov #regprov-right{
	width: 56%;
    padding: 1%;
	display: inline-block;
}

/** GRID VIEW STYLES **/
.grid_View_Style_1
{
	width: 80%;
	border: solid 2px black;
	min-width: 80%;
	margin: 0 auto;
}
.grid_1_header
{
	background-color: #646464;
	font-family: Arial;
	color: White;
	border: none 0px transparent;
	height: 25px;
	text-align: center;
	font-size: 16px;
}

.grid_1_rows
{
	background-color: #fff;
	font-family: Arial;
	font-size: 14px;
	color: #000;
	min-height: 25px;
	text-align: left;
	border: none 0px transparent;
	border-bottom: 1px dashed #000;
}
.grid_1_rows:hover
{
	background-color: #DA81F5;
	font-family: Arial;
	color: #fff;
	text-align: left;
}
.grid_1_rows:hover td{
	color: #fff;
}

.grid_1_selectedrow
{
	background-color: #ff8000;
	font-family: Arial;
	color: #fff;
	font-weight: bold;
	text-align: left;
}
.grid_View_Style_1 a /** FOR THE PAGING ICONS  **/
{
	background-color: Transparent;
	padding: 5px 5px 5px 5px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.grid_View_Style_1 a:hover /** FOR THE PAGING ICONS  HOVER STYLES**/
{
	background-color: #000;
	color: #fff;
}
.grid_View_Style_1 span /** FOR THE PAGING ICONS CURRENT PAGE INDICATOR **/
{
	background-color: #c9c9c9;
	color: #000;
	padding: 5px 5px 5px 5px;
}
.grid_1_pager
{
	background-color: #646464;
	font-family: Arial;
	color: White;
	height: 30px;
	text-align: left;
}

.grid_View_Style_1 td
{
	padding: 5px;
	text-align: center;
}
.grid_View_Style_1 th
{
	padding: 5px;
}