<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAgregarProv" />
                <binding name="BasicHttpBinding_IAgregarProv1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51387/ServicioAgregarProv.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgregarProv"
                contract="ServiceReference1.IAgregarProv" name="BasicHttpBinding_IAgregarProv" />
            <endpoint address="http://localhost:51387/ServicioAgregarProv.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgregarProv1"
                contract="ServicioAgregarProveedor.IAgregarProv" name="BasicHttpBinding_IAgregarProv1" />
        </client>
    </system.serviceModel>
</configuration>